.logo {
  display: flex;
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $primary-text-color;
  animation: none;
  text-decoration: none;
  margin-right: 85px;
}
.logo-web {
  color: $accent-color;
}
