$primary-text-color: #212121;
$small-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$svg-color: #afb1b8;

$timing-function: transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
